body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar_container{
  background-color:white;
}
.slider_button{
  position: fixed;
  top: 50%;
  right: 0;
  height:60px;
  cursor: pointer;
  background-color:black;
  color:white;
}
.close_button{
  position: fixed;
  top: 10%;
  width: 60px;
  z-index: 100;
  margin-left: -80px;
}
.nav_right{
  position: fixed;
  top: 50%;
  margin-left: -50px;
  z-index: 1000;
}

.nav_right ul{
  background-color:black;
  color:white;
  list-style: none;
  padding-left: 20px;
}
.nav_right ul li{
  padding:10px 5px 10px 0px;
  cursor: pointer;
}
.browser{
  width:500px;
  height: 100vh;
  position: relative;
}
.browser_container{
  height:100vh;
  width:100%;
}
.inner{
  width:100%;
  height:100vh;
}
.browser_input{
  width:100%;
  height:40px;
  outline:none;
  border:none;
  padding:20px;
  color:white;
  background-color:#272822;
}
::placeholder { 
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 1; /* Firefox */
}